* {
  text-align: center;
  background-color: lightblue;
}

ul {
  list-style: none;
}

p {
  padding: 5px;
}

.panes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1em .3em;
  padding: 0 2em;
  width: 45%;
}